@media all {.body_UQVCAY{position: relative; }
.heading_5dikwl{text-align:  center; }
.paragraph_d1qvu9{padding-bottom:  41%; background-image:  url("http://qty83k.creatby.com/materials/origin/32e3452c9c792f3a597eb6baa18d5ccf_origin.jpg"); }
.textlink_nnDpt2{text-align:  left; position:  static; float:  none; display:  block; padding-right:  0%; margin-left:  76%; margin-top: -23px; }
.section_w2j6QH{height: ; }
.container_vlzart{text-align: center; width: 80%; max-width: 1200px; padding-top: 5%; padding-bottom: 5%; }
.heading_IofCsr{margin-top: 0px; color: rgb(255, 255, 255); font-size: 48px; margin-left: 20px; }
.heading_IofCsr.rr{text-align: center; color: #3d3d3d; margin-left: 0px; margin-bottom: 30px; padding-left: 15px; padding-right: 15px; }
.paragraph_WWMpdZ{text-align: center; color: rgb(145, 145, 145); padding-left: 15px; padding-right: 15px; }
.row_pzTy1n{position: relative; margin-top: 5%; }
.column_AF8kDG{margin-left: auto; margin-right: 0px; text-align: right; }
.input_tq7M5i{height: 60px; margin-bottom: 20px; background-color: rgb(232, 232, 232); border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.input_Q6XGHg{height: 60px; margin-bottom: 20px; background-color: rgb(232, 232, 232); border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.textarea_QTvWTO{height: 150px; margin-bottom: 0px; background-color: rgb(232, 232, 232); border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.button_FzZgUK{margin-top: 45px; border-radius: 0px; width: 120px; height: 45px; line-height: 2em; background-color: rgb(231, 76, 60); }
.column_4XWSeg{position: absolute; bottom: 0px; right: 0px; min-height: 50px; }
.div_1EkNMC{padding: 10px 15px; min-height: 50px; margin-bottom: 90px; text-align: left; background-color: rgba(231,76,60,1); }
.div_mjkExp{min-height: 20px; text-align: left; }
.icon_JtNLJw{color: rgb(255, 255, 255); }
.paragraph_HuEJq0{color: rgb(255, 255, 255); display: inline-block; margin-left: 15px; }
.div_M899qj{min-height: 20px; display: inline-block; }
.icon_s2B7mL{color: #ffffff; }
.paragraph_CNdAdU{color: rgb(255, 255, 255); display: inline-block; margin-left: 15px; margin-bottom: 0px; }
.div_M899qj.xxxx{margin-left: 40px; }
.section_Wl9Fwc{height: 77%; min-height: 600px; background-image: url(http://qty83k.creatby.com/materials/origin/f12b841438d67f595391e65b83761d4b_origin.jpg); background-color: rgb(255, 219, 186); background-size: cover; }
.container_1oVg7Q{margin-top: 10%; }
.column_EXJ39w{padding-left: 10px; padding-right: 10px; }
.paragraph_ziD2v8{font-size: 24px; }
.label_hq1X7i{float: none; }
.input_ju04Ga{border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; border-color: rgba(38, 164, 235, 0.882353); height: 50px; border-width: 0px; float: none; width: 100%; background-color: rgba(247, 246, 244, 0.792157); }
.input_8FlkY6{margin-bottom: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; height: 50px; border-width: 0px; background-color: rgba(247,246,244,0.74); }
.checkbox_HIxYhD{margin-bottom: 20px; display: inline-block; float: left; }
.formlabel_JHMH8L{color: rgb(125, 125, 125); font-weight: 300; }
.label_pkAnzK{clear: none; float: right; margin-top: 10px; font-weight: 300; color: rgb(115, 114, 114); }
.submit_n7xCQ7{text-align:  center; width:  120px; height:  40px; border-radius:  3px; color:  rgb(255, 255, 255); border:  0px solid rgb(145, 145, 145); clear:  left; float:  left; display:  inline-block; margin-top:  0px; margin-left: 0%; background-color:  rgba(235, 140, 54, 0.980392); }
.submit_n7xCQ7.regi{float: right; display: inline-block; clear: none; background-color: rgba(161, 157, 157, 0.980392); }
.column_mvZe5k{padding-left: 13px; padding-right: 15px; }
.paragraph_vKAEtn{color: rgb(255, 255, 255); font-weight: 300; font-family: arial, helvetica, sans-serif; margin-top: 89px; }
.input_ju04Ga:focus{border-width: 2px; border-color: rgba(250, 204, 86, 0.690196); border-bottom-color: rgba(250,204,86,0.93); border-top-color: rgba(250,204,86,0.93); border-right-color: rgba(250,204,86,0.93); border-left-color: rgba(250,204,86,0.93); }
.div_Wuum5H.c-state2:hover{height: 5%; }
.button_U3Hc6G.bbbrg:hover{color: #ffffff; background-color: rgb(231, 76, 60); }
.button_U3Hc6G.bbbrg:hover{color: #ffffff; background-color: rgb(231, 76, 60); }
.button_U3Hc6G.bbbrg:hover{color: #ffffff; background-color: rgb(231, 76, 60); }
.button_U3Hc6G.bbbrg:hover{color: #ffffff; background-color: rgb(231, 76, 60); }
.button_FzZgUK:hover{border-color: rgb(231, 76, 60); color: #e74c3c; background-color: rgba(255, 255, 255, 0.8); }
.input_ju04Ga:hover{border-color: rgba(240, 185, 78, 0.921569); border-width: 2px; transform: rotate(0deg) scale(1) translate(0%, 0%); -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%); transition: all 0s ease; -webkit-transition: all 0s ease; border-bottom-color: rgba(245,184,67,0.92); border-top-color: rgba(245,184,67,0.92); border-right-color: rgba(245,184,67,0.92); border-left-color: rgba(245,184,67,0.92); }
.input_8FlkY6:hover{border-width: 2px; border-color: rgba(242, 171, 64, 0.772549); border-bottom-color: rgba(242,171,64,0.86); border-top-color: rgba(242,171,64,0.86); border-right-color: rgba(242,171,64,0.86); border-left-color: rgba(242,171,64,0.86); }
.submit_n7xCQ7:hover{background-color: rgba(242,128,24,0.980392); }
.submit_n7xCQ7:active{border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-top-right-radius: 3px; border-top-left-radius: 3px; border-width: 0px; border-color: rgb(84, 80, 84); width: 120px; height: 40px; }
} 
@media (max-width: 991px) {.container_vlzart{width: 100%; }
.button_U3Hc6G.bbbrg{font-size: 20px; }
.button_U3Hc6G.bbbrg{font-size: 20px; }
.button_U3Hc6G.bbbrg{font-size: 20px; }
.button_U3Hc6G.bbbrg{font-size: 20px; }
.paragraph_HuEJq0{margin-left: 5px; }
.paragraph_CNdAdU{margin-left: 5px; }
} 
@media (max-width: 767px) {.heading_5dikwl{color: #0eaccf; }
.textlink_XpXj6N{color: rgb(255, 0, 0); font-size: 22px; }
.textlink_nnDpt2{font-size: 22px; }
.heading_IofCsr{margin-left: 10px; font-size: 40px; text-align: left; }
.paragraph_WWMpdZ{padding-left: 0px; padding-right: 0px; }
.column_AF8kDG{text-align: center; padding-left: 0px; padding-right: 0px; }
.column_AF8kDG{text-align: center; padding-left: 0px; padding-right: 0px; }
.column_AF8kDG{text-align: center; padding-left: 0px; padding-right: 0px; }
.column_AF8kDG{text-align: center; padding-left: 0px; padding-right: 0px; }
.button_FzZgUK{margin-top: 20px; }
.column_4XWSeg{position: static; margin-top: 10px; padding-left: 0px; padding-right: 0px; }
.div_1EkNMC{margin-bottom: 0px; padding-left: 10px; padding-right: 10px; }
.section_Wl9Fwc{min-height: 650px; background-attachment: scroll; background-size: cover; }
.container_1oVg7Q{margin-top: 70px; }
.paragraph_vKAEtn{margin-top: 10px; }
} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 